# Question 1 :- Print n natural number in descending order using a while loop

In [8]:
a=int(input('Enter the range:'))
while a!=0:
    print(a,end=' ')
    a-=1

Enter the range: 10

10 9 8 7 6 5 4 3 2 1

# Question 2 :- Program to append the square of each number to a new list

In [12]:
x=[2,3,4,5,6,7,8]
l=[]
for i in range(len(x)):
    l.append(x[i]**2)
print("Result:",l)

Result: [4, 9, 16, 25, 36, 49, 64]

# Question 3 :- Program to append the type of elements in the list

In [15]:
n=[23,'Python',23.98]
x=[]
for i in range(len(n)):
    x.append(type(n[i]))
print(n)
print(x)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

# Question 4 :- Filter even and odd number from the list

In [17]:
x=[10,23,24,35,65,78,90]
a=[]
b=[]
for i in range(7):
    if x[i]%2==0:
        a.append(x[i])
    else:
        b.append(x[i])
print('The even number is:',a)
print('The odd number is:',b)

The even number is: [10, 24, 78, 90]
The odd number is: [23, 35, 65]

# Question 5:- Program to convert the month name into number of days

In [18]:
m=['Janurary','April','June','August','November',]

for i in m:
    if i=='February':
        print('The month of February has 28/29 days')
    elif i in ('April','June','September','November'):
        print('The month of',i,'has 30 days')
    elif i in ('Janurary','March','May','July','August','october','December'):
        print('The month of',i,'has 31 days')
    else:
        print(i,'is not a valid month name')

The month of Janurary has 31 days
The month of April has 30 days
The month of June has 30 days
The month of August has 31 days
The month of November has 30 days

# Question 6 :- Accept the word from the user and reverse it

In [19]:
a=input('Enter the string:')
b=''
for i in a:
    b=i+b

print(b)

Enter the string: abcdef

fedcba

In [33]:
""" I tried using Slicing function"""

a=input('Enter the string')
print(a[::-1])

Enter the string Python

nohtyP

# Question 7:- Count the total number of digits in a number

In [22]:
x='129475'
count =0
for i in x:
    count+=1
print(count)

6

# Question 8 :- Find the factorial of the given number

In [24]:
num=int(input('Enter the number'))
factorial=1
if num<0:
    print('Factorial does not exist for negative number')
elif num==0:
    print('Factorial of 0 is 1')
else:
    for i in range(1,num+1):
        factorial=factorial*i
    print('The factorial of',num,'is',factorial)

Enter the number 6

The factorial of 6 is 720

# Question 9 :- Calculate sum of series upto n terms. example, if n=5 the series will become 2+22+222+2222+22222=24690

In [26]:
n=5
start=2
sum_seq=0

for i in range(0,n):
    print(start,end='+')
    sum_seq+=start
    start=start*10+2

print('\nSum of above series is:',sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

# Question 10 :- Program to display all prime numbers between 25 and 50

In [31]:
start=25
end=50
print('Prime number between',start,'and',end,'are:')
for num in range(start,end+1):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num)

Prime number between 25 and 50 are:
29
31
37
41
43
47